@font-face {
    font-family: "AnimeAce";
    src: url('AnmaRv05.ttf') format("truetype");
}
@font-face {
    font-family: "ComicScriptRussBold";
    src: url('Comics Script Russ Bold.ttf') format("truetype");
}